.message-head{
    font-size:12px;
    margin-bottom:4px;
    opacity:0.8;
    overflow-wrap: break-word;
}

.message-body{
    background:white;
    padding:15px 14px;
    border-radius:5px;
    max-width:70%;
    width:fit-content;
    box-shadow:0 3px 8px rgba(0, 0, 0, 0.438);
    margin-bottom: 12px;
    overflow-wrap: break-word;
}



.my-message{
    align-self:flex-end;
}

.my-message .message-body{
    background:#6c7df7;
    color:white;
}