body {
    font-family: Arial;
    background-color: #bbb9b9;    
    border-radius: 5px;
    
}

header {
    background-color: #e1dfdf;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    border-radius: 8px;
}

h1 {
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.432);
    color: #2b2a2a;
}

.container {
    display: flex;
    justify-content: center;
}

.paper {
    background: #f5f5f5;
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.messages .message-div {
    padding: 6px 0;
    border-bottom: 1px solid #eee;

}

.message-time {
    color: gray;
    font-style: italic;
    font-size: smaller;
}

.containerchat {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

#messageInput {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
textarea{
    resize: none;
}

#nameInput:focus,
#messageInput:focus{
    outline: none;
    border: 1px solid #ff69b4;
    box-shadow: 0 0 5px #ff69b4;
}

#sendBtn{
  width: 150px;
  padding: 0;
  border: none;
  transform: rotate(5deg);
  transform-origin: center;
  font-family: "Gochi Hand", cursive;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  padding-bottom: 3px;
  border-radius: 5px;
  box-shadow: 0 2px 0 #494a4b;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color: #a4e0c8;
  }
  #sendBtn span {
  background: #aac5db;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid #494a4b;
}
  #sendBtn:active {
  transform: translateY(5px);
  padding-bottom: 0px;
  outline: 0;}

.message-div{
    background: rgb(255, 255, 255);    
    border-radius: 10px;
    margin-bottom: 5px;
    width: fit-content;
    box-shadow: 0 3px 8px rgba(59, 59, 59, 0.603);
     display: flex;
    flex-direction: column;
    gap: 5px;
}
.messages{
    display: flex;
    flex-direction: column;
}

.my-message{
    align-self:flex-end;
}